<?xml version="1.0" encoding="UTF-8"?>
<config>
	<communication mode="UART">
		<common baud="115200" id="6"/>
	</communication>
	<input_source>HDMI2</input_source>
	<delayms>500</delayms>
	<channel_number>1</channel_number>
	<length_bar_code>1</length_bar_code>
	<Lv_spec>250</Lv_spec>
	<cool_2>False</cool_2>
	<cool_1>True</cool_1>
	<normal>True</normal>
	<warm_1>True</warm_1>
	<warm_2>False</warm_2>
	<check_color>True</check_color>
	<adjust_offset>True</adjust_offset>
</config>
