<?xml version="1.0" encoding="UTF-8"?>
<config>
	<model>Haier-LS75A31</model>
	<communication mode="UART">
		<common baud="115200" id="4"/>
		<i2c clockrate="50"/>
	</communication>
	<input_source>AV1</input_source>
	<delayms>500</delayms>
	<channel_number>1</channel_number>
	<length_bar_code>1</length_bar_code>
	<Lv_spec>250</Lv_spec>
	<VPG>
		<model>2401</model>
		<timing>38</timing>
		<IRE100>101</IRE100>
		<IRE80>103</IRE80>
		<IRE20>109</IRE20>
	</VPG>
	<cool_2>False</cool_2>
	<cool_1>True</cool_1>
	<normal>True</normal>
	<warm_1>True</warm_1>
	<warm_2>False</warm_2>
	<check_color>True</check_color>
	<adjust_offset>True</adjust_offset>
	<chipset>T968</chipset>
</config>
